<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=71b4519c-ee33-4a85-8e59-bd912aa0789e" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="stylesheet" type="text/css" href="./src/css/base.css">
  <script src="./handlebars-v4.1.2.js"></script>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
</html>
