<header class="header">
    <div class="header__address">
        <img src="./src/images/icon.png" alt="" class="header__address-image">
        <div class="modal__header"></div>
    </div>
    <div class="close">+</div>
</header>
<div class="feedbacks"></div>
<div class="modal__content">
    <input id="name" class="form__input form__name" type="text" placeholder="Ваше имя">
    <input  id="point" class="form__input form__place" type="text" placeholder="Укажите место">
    <textarea id="message" class="form__input form__text" placeholder="Поделитесь впечатлениями"></textarea>
</div>
<footer class="footer">
        <button class="button">Добавить</button>
</footer>
