<header class="header">
    <div class="header__address">
        <img src="./src/images/icon.png" alt="" class="header__address-image">
        <div class="modal__header"></div>
    </div>
    <div class="close">+</div>
</header>
<ul class="feedbacks"></ul>
<div class="modal__content">
    <div class="comment">Ваш отзыв</div>
    <input id="name" class="form__input form__name" type="text" placeholder="Ваше имя"><br>
    <input  id="point" class="form__input form__place" type="text" placeholder="Укажите место"><br>
    <textarea id="message" class="form__input form__text" placeholder="Поделитесь впечатлениями"></textarea><br>
</div>
<footer class="footer">
        <button class="button">Добавить</button>
</footer>
