<div class="bg-modal">
    <div class="modal_header"></div>
    <div class="close">+</div>
    <img src="./location.png" alt="">
</div>
<div class="modal-content">
    <div class="comment"></div>
    <input id="name" class="modal_input" type="text" placeholder="Ваше имя"><br>
    <input  id="point" class="modal_input" type="text" placeholder="Укажите место"><br>
    <textarea id="message" class="modal_textarea" placeholder="Поделитесь впечатлениями"></textarea><br>
    <button class="button">Добавить</button>
</div>
