.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.modal-content img {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 42px;
    max-width: 20px;
    max-height: 20px;
}

.modal_input {
    width: 50%;
    display: block;
    margin: 15 auto;
}

.modal_header {
    width: 400px;
    height: 5px;
    padding: 20px;
    top: 143px;
    color: white;
    background: orangered;
    position: absolute;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.button {
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}